<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<mat-toolbar color="primary">
  <h1 class="toolbar-title">StackEdit</h1>
  <span class="spacer"></span>
  <button mat-icon-button (click)="editorComponent.formatText('bold')">
    <mat-icon>format_bold</mat-icon>
  </button>
  <button mat-icon-button (click)="editorComponent.formatText('italic')">
    <mat-icon>format_italic</mat-icon>
  </button>
  <button mat-icon-button (click)="editorComponent.formatText('underline')">
    <mat-icon>format_underlined</mat-icon>
  </button>
  <button mat-icon-button (click)="toggleSyncScroll()">
    <mat-icon>{{ syncScrollEnabled ? 'sync' : 'sync_disabled' }}</mat-icon>
  </button>
  <!-- <ngx-editor-menu [editor]="editor"></ngx-editor-menu> -->
  <tiptap-editor [editor]="editor"></tiptap-editor>
  <button mat-icon-button (click)="saveContent()">
    <mat-icon>save</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon>file_download</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon>settings</mat-icon>
  </button>
</mat-toolbar>
<main>
  <div class="container">
    <div class="editor" #editorDiv [appSyncScroll]="previewDiv" [syncEnabled]="syncScrollEnabled">
      <app-editor #editorComponent (previewTextChange)="previewText = $event" ></app-editor>
    </div>
    <div class="preview"  #previewDiv [appSyncScroll]="editorDiv" [syncEnabled]="syncScrollEnabled">
      <app-preview #preview [previewText]="previewText"></app-preview>
    </div>
  </div>
</main>



<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<router-outlet />
